[submodule "llvm"]
	path = llvm
	url = https://github.com/Purplesmaug96/llvm.git
[submodule "newlib"]
	path = newlib
	url = https://github.com/Purplesmaug96/newlib.git
[submodule "xecorelib"]
	path = xecorelib
	url = https://github.com/Purplesmaug96/xecorelib.git
[submodule "synthxex"]
	path = synthxex
	url = https://github.com/Purplesmaug96/SynthXEX.git
[submodule "mesa"]
	path = mesa
	url = https://github.com/Purplesmaug96/Mesa.git
[submodule "sdl"]
	path = sdl
	url = https://github.com/Purplesmaug96/SDL.git
